.DS_Store
.gradle
.classpath
.project
.settings
.yardoc
.yardopts
bin/
build/
lib/
libs/
target/
project/
test-output/
Scratch.java
ScratchTest.java
test-results/
test-tmp/
*.class
*.swp
*.iml
*.ipr
*.iws
.nb-gradle/
/.nb-gradle/private/
